{% extends "base.html" %}

{% block method_content %}
<!--- BEGINNING OF NAVBAR -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dealerships</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: larger;" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" href="/contact">Contact Us</a>
                </li>
            </ul>

            <!--
            <span class="navbar-text">
                <div class="loginlink" id="loginlogout">
                </div>
            </span>
            -->
        </div>
    </div>
</nav>

<!--- END OF NAVBAR -->

<main id="about" class="container">
    <div class="banner mb-2 p-2 text-center" name="about-header">
        <h1>About Us</h1>
        Welcome to Best Cars dealership, home to the best cars in North America. We deal in sale of domestic and imported cars at reasonable prices.
    </div>
    <div class="cards d-flex">
        <div class="card flex-fill shadow-sm">
            <img class="card-img-top" src="/static/daniil-lobache.jpg" alt="Card image">
            <div class="card-body">
                <p class="title btn-primary shadow text-center fw-bold p-2 rounded-2">Person1</p>
                <p class="fw-bold">Daniil Lobach</p>
                <p class="card-text">Daniil, the used car sales manager, knows every nick and dent on the lot. Her sharp wit and friendly demeanor put customers at ease.</p>
                <a href = "mailto: abc@example.com">person1@example.com</a>
            </div>
        </div>

        <div class="card flex-fill shadow-sm">
            <img class="card-img-top" src="/static/jonathan-cooper.jpg" alt="Card image">
            <div class="card-body">
                <p class="title btn-primary shadow text-center fw-bold p-2 rounded-2">Person2</p>
                <p class="fw-bold">Jonathan Cooper</p>
                <p class="card-text">Jonathan, the finance whiz, can explain loan options faster than anyone. He helps customers navigate paperwork and secure the best deals.</p>
                <a href = "mailto: abc@example.com">person2@example.com</a>
            </div>
        </div>

        <div class="card flex-fill shadow-sm">
            <img class="card-img-top" src="/static/mika-ruusunen.jpg" alt="Card image">
            <div class="card-body">
                <p class="title btn-primary shadow text-center fw-bold p-2 rounded-2">Person3</p>
                <p class="fw-bold">Mika Ruusunen</p>
                <p class="card-text">Mika, the detail technician, is a magician with a microfiber cloth. He transforms grimy trade-ins into gleaming showroom showpieces.</p>
                <a href = "mailto: abc@example.com">person3@example.com</a>
            </div>
        </div>
    </div>
</main>
{% endblock method_content %}