
{% extends "base.html" %}

{% block method_content %}

<!--- BEGINNING OF NAVBAR -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dealerships</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: larger;" href="/contact">Contact Us</a>
                </li>
            </ul>
            <!--
            <span class="navbar-text">
                <div class="loginlink" id="loginlogout">
                </div>
            </span>
            -->
        </div>
    </div>
</nav>

<!--- END OF NAVBAR -->

<main id="contact" class="container p-3">
    <img src="/static/cars.jpg" class="main-img" alt="lots of cars" />
    <div id="contact-details" class="d-flex mt-3 p-3 ">
        <div class="image pt-1 pb-1 flex-fill">
            <img src="/static/contactus.png" alt="do you see my head mic" />
        </div>
        <div class="sep m-2"></div>
        <div class="details p-2 text-center flex-fill">
            <h6>Contact Customer Service</h6>
            <a href="mailto: support@bestcars.com">support@bestcars.com</a>
            <h6>Contact our National Advertising team</h6>
            <a href="mailto: nationalsales@bestcars.com">NationalSales@bestcars.com</a>
            <h6>Contact our Public Relations team</h6>
            <a href="mailto: pr@bestcars.com">PR@bestcars.com</a>
            <h6>Contact the bestcars.com offices</h6>
            <a href="tel: 312-611-1111">312-611-1111</a>
            <h6>Become a bestcars.com car dealer</h6>
            <a href="#">Visit growwithbestcars.com</a>
        </div>
    </div>
</main>

{% endblock method_content %}