
{% extends "base.html" %}

{% block method_content %}

<!--- BEGINNING OF NAVBAR -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dealerships</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: larger;" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: larger;" href="/contact">Contact Us</a>
                </li>
            </ul>
            <span class="navbar-text">
                <div class="loginlink" id="loginlogout">
                </div>
            </span>
        </div>
    </div>
</nav>

<!--- END OF NAVBAR -->

<main id="home" class="container">
    <div class="cards d-flex flex-column">
        <div class="card shadow-lg">
            <img src="/static/car_dealership.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to our Dealerships!</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">View Dealerships</a>
            </div>
        </div>
    </div>
</main>

{% endblock method_content %}