body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

/* NAVBAR */
.navbar-shadow {
    box-shadow: 2px 0px 10px 0px #5b5b5bf0;
    -webkit-box-shadow: 2px 0px 10px 0px #5b5b5bf0;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
}

.navbar-brand {
    margin-left: 20px;
}

/*
#loginlogout {
    background-color: orange;
}
*/

#loginlogout > .username {
    margin-right: 10px;
    color: white;
    font-weight: 600;
}

#loginlogout > .logout {
    color: #1459a2 !important;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 600;
}

#loginlogout > .login {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
}

/* CONTACT Page */
#contact {
    /*border: 1px solid #747474;*/
    border-radius: 30px;
    max-width: 1000px;
}

#contact > .main-img {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 0 auto;
}

#contact > #contact-details {
    border-top: 1px solid #747474;
}

#contact-details > .image {
    width: 60%;
}

#contact-details > .image > img {
    display: block;
    margin: 15px auto 0px auto;
    width: 200px;
}

#contact-details > .sep {
    width: 3px;
    background-color: black;
}

#contact-details > .details {
    min-width: 300px;
}

#contact-details > .details > h6 {
    margin-bottom: 0px;
    font-weight: 600;
    color: #2c6ca9;
}

#contact-details > .details > a {
    text-decoration: none;
    font-weight: 300;
    color: #2c6ca9;
}
#contact-details > .details > a:last-child {
    font-weight: 600;
}



/* MOBILE */
@media screen and (min-width: 360px) {

    /**
    body {
        background: orange;
    }
    /**/

    /* NAVBAR */
    .nav-item {
        padding-left: 20px;
    }

    #loginlogout {
        text-align: center;
    }

    /* ABOUT PAGE */
    main#about > div.cards {
        flex-direction: column;
    }
    main#about > div.cards > div.card {
        width: 100%;
        margin-bottom: 10px;
    }

    /* CONTACT PAGE */
    /** Contact-details Image bloc */
    #contact-details > .image {
        display: none;
    }

    #contact-details > .sep {
        display: none;
    }
}


/* TABLET */
@media screen and (min-width: 601px) {

    /**
    body {
        background: purple;
    }
    /**/

    main#home > div.cards > div.card {
        flex: 0 1 calc(50% - 1em);
    }
    main#about > div.cards {
        flex-direction:inherit;
        gap: 10px;
    }
    main#about > div.cards > div.card {
        max-width: 50%;
    }

    /* CONTACT PAGE */
    /** Contact-details Image bloc */
    #contact-details > .image {
        display: block;
    }

    #contact-details > .sep {
        display: block;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {

    /**
    body {
        background: pink;
    }
    /**/

    main#home > div.cards > div.card {
        width: 65%;
        align-self: center;
    }
    main#about > div.cards {
        flex-direction:inherit;
        justify-content: center;
        gap: 10px;
    }
    main#about > div.cards > div.card {
        max-width: 30%;
    }

    /* CONTACT PAGE */
    /** Contact-details Image bloc */
    #contact-details > .image {
        display: block;
    }

    #contact-details > .sep {
        display: block;
    }
}
