
.register-container > .card {
    margin: 0px auto;
    width: 500px;
}

.register-container > .card > form > .inputs > .input-group {
    box-shadow: 3px 3px 3px -2px #5b5b5bf0;
}

.register-container > .card > form > div > button {
    box-shadow: 3px 3px 3px -2px #5b5b5bf0;
}

.register-container > .card > form > .inputs > .input-group > .input-group-text {
    font-weight: 300;
}

.register-container > .card > .card-header > .title > .text {
    font-size: 20px;
}

.register-container > .card > .card-header > .close > a > .bi {
    font-weight: bolder !important;
    font-size: 20px;
    color: black;
}