
.login-container {
    margin: 0px auto;
    width: 300px;
}

.login-container > form > .input-group {
    box-shadow: 3px 3px 3px -2px #5b5b5bf0;
}

.login-container > form > div > .btn-primary {
    margin-right: 10px;
    box-shadow: 3px 3px 3px -2px #5b5b5bf0;
}

.login-container > form > div > .btn-secondary {
    box-shadow: 3px 3px 3px -2px #5b5b5bf0;
}

.loginlink {
    text-decoration: none;
    font-weight: 600;
    color: #2c6ca9;
}